transformers==4.38.2
TensorFlow==2.13.1
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
whisper==1.1.10
moviepy==1.0.3
langdetect==1.0.9
sentence_transformers==2.5.1     
pandas==2.0.3
requests
elasticsearch